@font-face {
    font-family: "OS";
    src: url(OpenSans-Regular.ttf);
}
* {
    font-family: "OS";
    box-sizing: border-box;
}

body {
    position: relative;
    text-align: center;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px #00000099;
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: all ease-in .3s;
    cursor: pointer;
    font-weight: 800;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn:not(:disabled):hover, .btn:not(:disabled):focus {
    background-color: #27ae60;
}

.btn span {
    display: block;
    padding: 12px 24px; position: relative;
}

.btn:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: #ecf0f14d;
}

.btn:not(:disabled):active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn:disabled{
    opacity: 62%;
    cursor: not-allowed;
}